In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Hobart,-42.8794,147.3294,56.26,63,90,3.00,AU,2021-12-03 17:28:25
1,1,Ayutla,20.1167,-104.3333,79.21,30,85,2.62,MX,2021-12-03 17:30:17
2,2,Bambous Virieux,-20.3428,57.7575,79.05,83,40,4.61,MU,2021-12-03 17:30:17
3,3,Albany,42.6001,-73.9662,38.08,56,39,5.01,US,2021-12-03 17:30:17
4,4,New Norfolk,-42.7826,147.0587,55.92,60,56,3.00,AU,2021-12-03 17:29:51

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Wind Speed Heatmap
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,1,Ayutla,20.1167,-104.3333,79.21,30,85,2.62,MX,2021-12-03 17:30:17
2,2,Bambous Virieux,-20.3428,57.7575,79.05,83,40,4.61,MU,2021-12-03 17:30:17
11,11,Barentu,15.1139,37.5928,77.70,29,0,9.08,ER,2021-12-03 17:30:19
12,12,Mahebourg,-20.4081,57.7000,79.09,83,40,4.61,MU,2021-12-03 17:25:21
14,14,Vao,-22.6667,167.4833,76.14,75,99,11.86,NC,2021-12-03 17:30:20
15,15,Daru,-9.0763,143.2092,80.87,84,100,6.82,PG,2021-12-03 17:30:20
19,19,Castro,-24.7911,-50.0119,76.98,51,67,5.61,BR,2021-12-03 17:30:21
24,24,Butaritari,3.0707,172.7902,82.29,69,49,14.16,KI,2021-12-03 17:30:22
25,25,Wau,7.7029,27.9953,86.00,27,75,2.77,SS,2021-12-03 17:30:23
30,30,Morondava,-20.2833,44.2833,81.25,81,37,10.07,MG,2021-12-03 17:30:24

In [15]:
preferred_cities_df.count()

City_ID       181
City          181
Lat           181
Lng           181
Max Temp      181
Humidity      181
Cloudiness    181
Wind Speed    181
Country       181
Date          181
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1            Ayutla      MX     79.21  20.1167 -104.3333
2   Bambous Virieux      MU     79.05 -20.3428   57.7575
11          Barentu      ER     77.70  15.1139   37.5928
12        Mahebourg      MU     79.09 -20.4081   57.7000
14              Vao      NC     76.14 -22.6667  167.4833
15             Daru      PG     80.87  -9.0763  143.2092
19           Castro      BR     76.98 -24.7911  -50.0119
24       Butaritari      KI     82.29   3.0707  172.7902
25              Wau      SS     86.00   7.7029   27.9953
30        Morondava      MG     81.25 -20.2833   44.2833

In [21]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [22]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Ayutla,MX,79.21,20.1167,-104.3333,Hotel Principal
2,Bambous Virieux,MU,79.05,-20.3428,57.7575,Casa Tia Villa
11,Barentu,ER,77.70,15.1139,37.5928,
12,Mahebourg,MU,79.09,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
14,Vao,NC,76.14,-22.6667,167.4833,Hotel Kou-Bugny
15,Daru,PG,80.87,-9.0763,143.2092,Daru Lodge
19,Castro,BR,76.98,-24.7911,-50.0119,CHACARA BAILLY
24,Butaritari,KI,82.29,3.0707,172.7902,Isles Sunset Lodge
25,Wau,SS,86.00,7.7029,27.9953,Universal Gab Hotel
30,Morondava,MG,81.25,-20.2833,44.2833,La Case Bambou

In [29]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [30]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))